<template>
  <div class="cities-block">
    <div v-if="listLoader" class="loader-block ">
      <loader visible />
    </div>
    <div v-else class="cities-list">
      <template v-if="citiesList.length > 0">
        <div
          v-for="city in citiesList"
          :key="city.id"
          class="city transparent-text"
          @click="cityClickHandler(city)"
        >
          {{ city.name }}
        </div>
      </template>
      <div v-else class="transparent-text">
        Nothing was found for your search
      </div>
    </div>
  </div>
</template>

<script>
import Loader from './Loader.vue'
import { mapActions, mapMutations } from "vuex"

export default {
  name: "CitiesList",
  components: {Loader},
  computed: {
    citiesList() {
      console.log(this.$store.getters.getCitiesList)
      return this.$store.getters.getCitiesList
    },
    listLoader() {
      return this.$store.getters.getListLoader
    }
  },
  methods: {
    ...mapActions(["updateWeatherInfo"]),
    ...mapMutations(["setCurrentCity"]),
    cityClickHandler(city) {
      this.setCurrentCity(city)
      this.updateWeatherInfo()
    }
  }
}
</script>
