<template>
  <div class="fullscreen-loader" v-if="visible">
    <loader :visible="true" />
  </div>
</template>

<script>
import Loader from "./Loader.vue"

export default {
  name: "FullScreenLoader",
  components: { Loader },
  computed: {
    visible() {
      return this.$store.getters.getFullScreenLoader
    }
  }
}
</script>

<style lang="scss" scoped></style>
