<template>
  <div class="main-block">
    <div class="info-block">
      <div class="temp">{{ temp }}&#176;</div>
      <div class="city-info">
        <div class="city-name">
          {{ weatherInfo.name }}
        </div>
        <time-component />
      </div>
      <div class="weather-info">
        <div class="weather-icon">
          <img :src="currentIcon" alt="" />
        </div>
        <div class="weather-name">
          {{ weatherName }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TimeComponent from "./TimeComponent.vue"
import cloudIcon from "../assets/images/cloud-icon.svg"
import smogIcon from "../assets/images/smog-icon.svg"
import snowIcon from "../assets/images/snow-icon.svg"
import thunderstormIcon from "../assets/images/thunderstorm-icon.svg"
import rainIcon from "../assets/images/rain-icon.svg"
import clearIcon from "../assets/images/clear-icon.svg"

export default {
  name: "MainBlock",
  components: { TimeComponent },
  data: () => ({
    icons: {
      clouds: cloudIcon,
      clear: clearIcon,
      atmosphere: smogIcon,
      snow: snowIcon,
      rain: rainIcon,
      drizzle: rainIcon,
      thunderstorm: thunderstormIcon
    }
  }),
  computed: {
    weatherInfo() {
      return this.$store.getters.getWeatherInfo
    },
    weatherType() {
      return this.$store.getters.weatherType
    },
    temp() {
      return Math.round(this.weatherInfo?.main?.temp)
    },
    currentIcon() {
      return this.icons[this.weatherType]
    },
    weatherName() {
      return this.weatherInfo?.weather ? this.weatherInfo.weather[0].description : ""
    }
  }
}
</script>
