<template>
  <form @submit.prevent="submitHandler" class="search-block" onSubmit="{submitHandler}">
    <input
      type="text"
      class="search-input"
      placeholder="Another location"
      v-model="searchText"
    />
    <button type="submit" class="submit-btn">
      <img src="../assets/images/search-solid.svg" alt="" />
    </button>
  </form>
</template>

<script>
import { mapActions, mapMutations } from "vuex"

export default {
  name: "SearchForm",
  data: () => ({
    searchText: ""
  }),
  methods: {
    ...mapMutations(["resetCitiesList"]),
    ...mapActions(["searchCities"]),
    submitHandler(e) {
      this.searchCities(this.searchText)
    }
  },
  watch: {
    searchText() {
      if(this.searchText==="") this.resetCitiesList()
    }
  }
}
</script>
