<template>
  <div class="sidebar-wrapper">
    <div class="sidebar">
      <search-form />

      <cities-list />

      <weather-details />
    </div>
  </div>
</template>

<script>
import SearchForm from "./SearchForm.vue"
import CitiesList from "./CitiesList.vue"
import WeatherDetails from "./WeatherDetails.vue"

export default {
  name: "Sidebar",
  components: {
    SearchForm,
    CitiesList,
    WeatherDetails
  }
}
</script>

<style lang="scss" scoped></style>
