<template>
  <div class="time">{{ timeString }}</div>
</template>

<script>
let interval

export default {
  name: "TimeComponent",
  data: () => ({
    currentTime: new Date()
  }),
  computed: {
    timeString() {
      return this.currentTime.toLocaleString()
    }
  },
  mounted() {
    interval = setInterval(() => {
      this.currentTime = new Date()
    }, 1000)
  },
  beforeDestroy() {
    clearInterval(interval)
  }
}
</script>
