<template>
  <div class="weather-details">
    <div class="title white-text">Weather Details</div>
    <div class="row">
      <div class="detail-name transparent-text">Cloudy</div>
      <div class="detail-value white-text">
        {{ clouds }} %
      </div>
    </div>
    <div class="row">
      <div class="detail-name transparent-text">Humidity</div>
      <div class="detail-value white-text">
        {{ humidity }} %
      </div>
    </div>
    <div class="row">
      <div class="detail-name transparent-text">Wind</div>
      <div class="detail-value white-text">
        {{ windSpeed }} km/h
      </div>
    </div>
    <div class="row">
      <div class="detail-name transparent-text">Pressure</div>
      <div class="detail-value white-text">
        {{ pressure }} hPa
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "WeatherDetails",
  computed: {
    weatherInfo() {
      return this.$store.getters.getWeatherInfo
    }, 
    clouds() {
      return this.weatherInfo?.clouds?.all
    },
    humidity() {
      return this.weatherInfo?.main?.humidity
    },
    windSpeed() {
      return this.weatherInfo?.wind?.speed
    },
    pressure() {
      return this.weatherInfo?.main?.pressure
    }
  }
}
</script>
