<template>
  <div id="app">
    <div class="wrapper" :class="`${weatherType}`">
      <full-screen-loader />
      <main-block />
      <sidebar />
    </div>
  </div>
</template>

<script>
import FullScreenLoader from './components/FullScreenLoader.vue'
import MainBlock from "./components/MainBlock.vue"
import { mapActions } from 'vuex'
import Sidebar from './components/Sidebar.vue'

export default {
  name: "App",
  components: {
    FullScreenLoader,
    MainBlock,
    Sidebar
  },
  computed: {
    weatherType() {
      return this.$store.getters.weatherType
    },
  },
  methods: {
    ...mapActions(['updateWeatherInfo'])
  },
  mounted() {
    this.updateWeatherInfo()
  }
}
</script>

