* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper.rain, .wrapper.drizzle, .wrapper.thunderstorm {
  background-image: url("../images/rain.jpg");
}

.wrapper.snow {
  background-image: url("../images/snow.jpg");
}

.wrapper.atmosphere {
  background-image: url("../images/clouds.jpg");
}

.wrapper.clear {
  background-image: url("../images/clear.jpg");
}

.wrapper.clouds {
  background-image: url("../images/clouds.jpg");
}

.wrapper .main-block {
  flex: 1;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  padding: 50px;
}

.wrapper .main-block .info-block {
  display: flex;
  align-items: center;
  color: #fff;
}

.wrapper .main-block .info-block .temp {
  font-size: 120px;
  font-weight: 500;
}

.wrapper .main-block .info-block .city-info {
  margin: 0 30px;
}

.wrapper .main-block .info-block .city-info .city-name {
  font-size: 60px;
  font-weight: 500;
}

.wrapper .main-block .info-block .weather-info {
  text-align: center;
}

.wrapper .main-block .info-block .weather-info .weather-icon {
  margin-bottom: 2px;
}

.wrapper .main-block .info-block .weather-info .weather-icon img {
  height: 50px;
}

.wrapper .sidebar-wrapper {
  width: 500px;
  height: 100vh;
  position: relative;
  background: inherit;
  overflow: hidden;
}

.wrapper .sidebar-wrapper::before {
  content: "";
  width: calc(100% + 25px);
  height: calc(100% + 25px);
  background: inherit;
  position: absolute;
  right: -25px;
  bottom: -25px;
  filter: blur(8px);
}

.wrapper .sidebar-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.wrapper .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.wrapper .sidebar .search-block {
  display: flex;
}

.wrapper .sidebar .search-block .search-input {
  width: calc(100% - 100px);
  font-size: 15px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px 0;
  outline: none;
  color: #fff;
}

.wrapper .sidebar .search-block ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.wrapper .sidebar .search-block ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.wrapper .sidebar .search-block :-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.wrapper .sidebar .search-block :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.wrapper .sidebar .search-block .submit-btn {
  background-color: #aacde18f;
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
  transition-duration: 0.3s;
}

.wrapper .sidebar .search-block .submit-btn:hover {
  opacity: 1;
}

.wrapper .sidebar .search-block .submit-btn:active {
  transform: translateY(10px);
}

.wrapper .sidebar .search-block .submit-btn img {
  width: 30px;
}

.wrapper .sidebar .cities-block {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 30px 0;
}

.wrapper .sidebar .cities-block .cities-list {
  height: calc(100vh - 450px);
  overflow: auto;
}

.wrapper .sidebar .cities-block .cities-list .city {
  padding: 13px 0;
  cursor: pointer;
}

.wrapper .sidebar .cities-block .cities-list .city:hover {
  color: #fff;
}

.wrapper .sidebar .cities-block .cities-list .city .country {
  margin-left: 2px;
}

.wrapper .sidebar .cities-block .loader-block {
  height: calc(100vh - 450px);
  display: flex;
  justify-content: center;
}

.wrapper .sidebar .weather-details {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 30px 0 15px 0;
}

.wrapper .sidebar .weather-details .title {
  margin-bottom: 20px;
}

.wrapper .sidebar .weather-details .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
}

.wrapper .transparent-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}

.wrapper .white-text {
  color: #fff;
  font-size: 15px;
}

.wrapper .fullscreen-loader {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: #3374b5;
  background: linear-gradient(222deg, #3374b5 0%, #703821 100%);
}

.wrapper .loader .lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.wrapper .loader .lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.wrapper .loader .lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.wrapper .loader .lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.wrapper .loader .lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
      top: 8px;
      height: 64px;
  }
  50%, 100% {
      top: 24px;
      height: 32px;
  }
}

.cities-list {
  scrollbar-color: rgba(128, 128, 128, 0.3) transparent;
}

.cities-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.cities-list::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.cities-list::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 5px;
}

.cities-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
