@media (max-width: 1023px) {
  .wrapper {
      flex-direction: column;
  }
  .wrapper .main-block {
      width: 100%;
      align-items: center;
      justify-content: center;
  }
  .wrapper .main-block .time {
      text-align: center;
  }
  .wrapper .sidebar-wrapper {
      width: 100%;
  }
  .wrapper .sidebar-wrapper::after {
      background-color: rgba(0, 0, 0, 0.4);
  }
  .wrapper .sidebar-wrapper .sidebar .search-block {
      position: relative;
  }
  .wrapper .sidebar-wrapper .sidebar .search-block .submit-btn {
      width: 60px;
      height: 60px;
  }
  .wrapper .sidebar-wrapper .sidebar .weather-details {
      order: -1;
  }
}

@media (max-width: 610px) {
  .wrapper .main-block .info-block {
      flex-direction: column;
      align-items: center;
  }
  .wrapper .main-block .info-block .temp {
      margin: 20px 0;
      transform: translateX(10px);
  }
  .wrapper .main-block .info-block .weather-info {
      order: -1;
  }
}
